.search-button{
    margin: 2rem 0 1rem 0;
}
#filter{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.block-filter{
    margin-top: 1rem;
}
.hebergements{
    flex-direction: column-reverse;
}
.first, .second {
    width: 100%;
    padding: 1rem;
}
.first{
    margin-right: 0;
}
.second{
    margin-left: 0;
}
.hotel{
    flex-basis: 300px;
}
footer{
    flex-direction: column;
}
footer ul, footer h5{
    text-align: center;
}
.a_propos, .nos_hebergements, .assistance{
    margin: 0;
}

.popular-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.room {
    width: 47%;
    margin: 0.5rem;
}

.sud{
    display: grid;
    height: unset;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 275px 275px 275px;
    grid-template-areas: 
          "vieu-port plage-est"
          "plage-ouest marseille"
          "monuments-nord monuments-mer";
}
.vieu-port img, .marseille img {
    height: 77%;
}