.search-button{
    margin: 2rem 0 1rem 0;
}
#filter{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.block-filter{
    margin-top: 1rem;
}
.hebergements{
    flex-direction: column-reverse;
}
.first, .second {
    width: 100%;
    padding: 1rem;
}
.first{
    margin-right: 0;
}
.second{
    margin-left: 0;
}
.hotel{
    flex-basis: unset;
}
footer{
    flex-direction: column;
}
footer ul, footer h5{
    text-align: center;
}
.a_propos, .nos_hebergements, .assistance{
    margin: 0;
}
.sud{
    height: unset;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 2fr;
    grid-template-areas: 
          "vieu-port"
          "plage"
          "marseille"
          "monuments";
    height: unset;
}
.vieu-port{
    grid-area: vieu-port;
}
.plage {
    grid-area: plage;
    grid-row-start:unset ;
    display:block;
    height: unset;
    grid-template-columns: unset;
    grid-template-rows: unset;
}
.marseille{
    grid-column-start: unset;
    grid-area: marseille;
}
.monuments{
    grid-column-start: unset;
    display: block;
    height: unset;
    grid-template-columns: unset;
    grid-template-rows: unset;
    grid-area: monuments;
}
.activity-title{
    height: 350px;
}
.vieu-port img, .marseille img, .est, .mer, .ouest, .nord{
    height: 84%;
}
.search{
    max-width: 275px;
    width: 100%;
}